*{
    margin:  0;
    padding: 0;
    box-sizing: border-box;
}

/* buscador */

.div-1{
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-left: 20px;
    margin-top: 10px;
}

div input{
    all: unset;
    border-bottom: 1px solid black;
}

.div-1 img{
    position: absolute;
    top: 0;
    right: 32px;
    width: 16px;
}






/* menu hamburguesa */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    position: relative;
}

.menu-icon {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 15px;
    background-color: #333; 
    color: #fff;
}

.bar {
    width: 40px;
    height: 4px;
    background-color: #fff;
    margin: 3px 5px;
    transition: all 0.3s;
}

#menu-toggle {
    display: none;
}

.nav-menu {
    display: none;
    position: absolute;
    top: 150px;
    left: 0;
    width: 200px;
    border-radius: 5px;
}

.nav-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-menu li {
    border-bottom: 1px solid #444;
}

.nav-menu a {
    display: block;
    padding: 15px;
    color: #fff;
    text-decoration: none;
}

.nav-menu a:hover {
    background-color: #555;
}

#menu-toggle:checked ~ .nav-menu {
    display: block;
}

#menu-toggle:checked ~ .menu-icon .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

#menu-toggle:checked ~ .menu-icon .bar:nth-child(2) {
    opacity: 0;
}

#menu-toggle:checked ~ .menu-icon .bar:nth-child(3) {
    transform: rotate(-45deg) translate(2px, -2px);
}


/*Index.html*/

h1{
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: unset;
    color: white;
}



.section-principal{
    background-color: rgba(17, 17, 15, 0.938);
    width: 100%;
    height: 80px;
    text-transform: uppercase;
    
}




.photo-principal{
    display: flex;
    justify-content: center;
}

.img-0{
    width: 100%;
    max-width: 4024px;
}


.h-1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 75px;
    background-color: aqua;
}

/* cards */

.container-card-index{
	width: 100%;
	display: flex;
	margin: auto;
    object-fit: contain;
    background-color: rgba(128, 128, 128, 0.616);
}
.container-card-index-0{
    width: 100%;
	display: flex;
	margin: auto;
    object-fit: contain;
    background-color: rgba(128, 128, 128, 0.616);
}
.container-card-index-1{
    width: 100%;
	display: flex;
	margin: auto;
    object-fit: contain;
    background-color: rgba(128, 128, 128, 0.616);
}

.card{
	width: 100%;
	margin: 20px;
	border-radius: 6px;
	overflow: hidden;
	background:#ffffffa4;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	transition: all 400ms ease-out;
	cursor: default;
    
}
.card img{
	width: 100%;
	height: 80%;
    background-color: rgba(255, 127, 80, 0.507);
}
.card:hover{
	box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
	transform: translateY(-3%);
}


.img-change-1{
    object-fit: contain;
}
.img-change-2{
    object-fit: contain;
}
.img-change-3{
    object-fit: contain;
}
.img-change-4{
    object-fit: contain;
}
.img-change-5{
    object-fit: contain;
}
.img-change-6{
    object-fit: contain;
    
}
.img-change-7{
    object-fit: contain;
}
.img-change-8{
    object-fit: contain;
}
.img-change-9{
    object-fit: contain;
}


/* final Index.html */


/* inicio Adidas */

.img-adidas{
    display: flex;
    justify-content: center;
}
.img-adidas-jugador{
    width: 100%;
	max-width: 1800px;
    max-height: 1000px;
}

.container-card-a{
	/* width: 100%; */
	display: flex;
	max-width: 2000px;
	margin: auto;
    background-color: rgba(128, 128, 128, 0.616);
}

.card-0{
	width: 100%;
	margin: 20px;
	border-radius: 6px;
	overflow: hidden;
	background-color: #ffffffa4;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	transition: all 400ms ease-out;
	cursor: default;
}
.card-0:hover{
	box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
	transform: translateY(-3%);
}

.card-0 img{
    height: 80%;
    width: 100%;
    background:#389df0de;
}

.container-card-b{
    /* width: 100%; */
    display: flex;
	max-width: 2000px;
	margin: auto;
    background-color: rgba(128, 128, 128, 0.616);
}

.h4-1{
    font-size: 45px;
}
.change-1{
    object-fit: contain;
}
.change-2{
    object-fit: contain;
}
.change-3{
    object-fit: contain;
}
.change-4{
    object-fit: contain;
}

/* final adidas */

/* inicio Nike */

.img-nike{
    display: flex;
    justify-content: center;
}

.img-nike-jugador{
    width: 100%;
    max-height: 1650px;
}

.container-card-1{
	width: 100%;
	display: flex;
	margin: auto;
    object-fit: contain;
    background-color: rgba(128, 128, 128, 0.616);
}

.card-1{
	width: 100%;
	margin: 20px;
	border-radius: 6px;
	overflow: hidden;
	background:#ffffffa4;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	transition: all 400ms ease-out;
	cursor: default;
}

.card-1 img{
    height: 80%;
    width: 100%;
    background:#f1831da1;
    
}
.container-card-2{
    width: 100%;
	display: flex;
	margin: auto;
    object-fit: contain;
    background-color: rgba(128, 128, 128, 0.616);
}

.card-1:hover{
	box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
	transform: translateY(-2%);
}

.h4-2{
    font-size: 35px;
}

/* final Nike */

/* inicio Tienda */

h3{
    margin: 20px 13px 13px 20px ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 200px;
    font-style: oblique;
    background-color: rgba(243, 9, 9, 0.548);
}
.container-card-3{
	width: 100%;
	display: flex;
	margin: auto;
    object-fit: contain;
    background-color: rgba(128, 128, 128, 0.616);
}
.container-card-4{
    width: 100%;
	display: flex;
	margin: auto;
    object-fit: contain;
    background-color: rgba(128, 128, 128, 0.616);
}
.container-card-5{
    width: 100%;
	display: flex;
	margin: auto;
    object-fit: contain;
    background-color: rgba(128, 128, 128, 0.616);
}
.container-card-6{
    width: 100%;
	display: flex;
	margin: auto;
    object-fit: contain;
    background-color: rgba(128, 128, 128, 0.616);
}

.card-2{
	width: 100%;
	margin: 20px;
	border-radius: 6px;
	overflow: hidden;
	background:#ffffffa4;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	transition: all 400ms ease-out;
	cursor: default;
}

.card-2 img{
    height: 80%;
    width: 100%;
    background:#fd122667;
    
}

.card-2:hover{
	box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
	transform: translateY(-2%);
}

.h4-a{
    font-size: 95px;
}

/* final Tienda */

/* inicio Contacto */

.referente{
    font-size: 60px;
    font-style: italic;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.info-1{
    font-size: 40px;
    margin: 100px 15px 15px 10px;
    display: flex;
    justify-content: center;
    background-image: url(../assets/img/fondo-1.png);
    background-repeat: round;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a{
    font-size: 35px;
    margin-left: 30px;
    background-color: rgba(128, 128, 128, 0.473);
}


/* final Contacto */

/* footer */

.photo-final{
    display: flex;
    justify-content: center;
}

.photo-0{
    width: 100%;
    max-width: 4000px;
    max-height: 500px;
}
.section-final{
    display: flex;
    background-color: lightblue;
    justify-content: center;
    align-items: center;
    height: 50px;

}

.imgs-final{
    display: flex;
    justify-content: flex-end;
    background-color: lightblue;
}



/* media query/responsive */


/*                      HTML 1                      */

/* 4k  */
@media (min-width:2560px) and (max-width:2585px){
    h1{
        font-size: 55px;
    }
    .navbar{
        font-size: 55px;
    }
    .h-1{
        font-size: 95px;
    }
    .card img{
        width: 100%;
        height: 570px;
    }
    h4{
        font-size: 60px;
    }
    h5{
        font-size: 50px;
    }
    .photo-0{
        
        max-height: 600px;
        max-width: 2585px;
    }
    .section-final{
        font-size: 35px;
        height: 70px;
    }
    .imgs-final img {
        height: 55px;
        margin: 7px;
    }
}

/* Laptop L */
@media (min-width:1440px) and (max-width:1477px){
    h1{
        font-size: 35px;
    }
    .navbar{
        font-size: 25px;
    }
    .h-1{
        font-size: 50px;
    }
    .card img{
        width: 100%;
        height: 500px;
    }
    h4{
        font-size: 45px;
    }
    h5{
        font-size: 35px;
    }
    .imgs-final img{
        margin: 5px;
    }

}

/* Laptop  */
@media (min-width:1024px) and (max-width:1036px){
    .navbar{
        font-size: 15px;
    }
    h4{
        font-size: 35px;
    }
    h5{
        font-size: 25px;
    }
}

/* Tablet */
@media (min-width:768px) and (max-width:1034px){
    .section-principal{
        width: 1300px;
    }
    .section-secundario{
        width: 1024px;
    }
    .img-0{
        width: 1300px;
    }
    .h-1{
        width: 1100px;
        justify-content: center;
        
    }
    .container-card-index{
        flex-direction: row;
        max-width: 1025px;
        width: 4000px;
        margin: 2px;
    }
    .container-card-index-0{
        flex-direction: row;
        max-width: 1025px;
        width: 4000px;
        margin: 2px;
    }
    .container-card-index-1{
        flex-direction: row;
        max-width: 1025px;
        width: 4000px;
        margin: 2px;
    }
    .photo-0{
    width: 4000px;
    }
    .imgs-final{
        width: 4000px;
        max-width: 1025px;
        height: 25px;
    }
}

/* Mobile L */
@media (min-width:425px) and (max-width:518px) {
    .img-0{
        width: 800px;
        max-height: 500px;
    }
    .container-card{
        flex-direction: column;
        max-width: 600px;
        width: 400px;
        background: 100%;
    }
    .container-card-0{
        flex-direction: column;
        max-width: 600px;
        width: 400px;
    }
    .section-final h2{
        flex-direction: row;
        justify-content: center;
        font-weight: 150px;
        font-size: medium;
    }
    .photo-0{
        max-width: 600px;
    }
    .h-1{
        height: 40px;
        object-fit: contain;
    }
    .imgs-final img {
        height: 15px;
        margin: 5px;
    }
}


/* Mobile M */
@media (min-width:375px) and (max-width:518px){
    .container-card-index{
        flex-direction: column;
        max-width: 300px;
        width: 280px;
    }
    .container-card-index-0{
        flex-direction: column;
        max-width: 300px;
        width: 280px;
    }
    .container-card-index-1{
        flex-direction: column;
        max-width: 300px;
        width: 280px;
    }
    .section-final h2{
        flex-direction: row;
        justify-content: center;
        font-weight: 55px;
        font-size: small;
        
    }
    .h-1{
        height: 30px;
    }
}


/* Mobile S */
@media (min-width:320px) and (max-width:518px){
    .container-card{
        flex-direction: column;
        max-width: 250px;
        width: 235px;
    }
    .container-card-0{
        flex-direction: column;
        max-width: 250px;
        width: 235px;
    }
    .container-card-1{
        flex-direction: column;
        max-width: 250px;
        width: 235px;
    }
    .section-final h2{
        flex-direction: row;
        justify-content: center;
        font-weight: 55px;
        font-size: small;
        
    }
    .h-1{
        height: 20px;
        width: 100%;
        font-size: medium;
    }
    .imgs-final img {
        height: 15px;
        margin: 5px;
    }
}


/*                  HTML 5                 */

/* 4k  */
@media (min-width:2560px) and (max-width:2585px){
    .info-1{
        width: 2550px;
        margin-right: 1000px;
        
    }
    .imgs-final img{
        margin-right: 500px;
        height: 40px;
        margin: 5px;
    }
}

/* Laptop L */


/* Laptop  */
@media (min-width:1024px) and (max-width:1036px){
    
    .navbar{
        width: 100%;
    }
}

/* Tablet */
@media (min-width:768px) and (max-width:1034px){
    .section-secundario{
        width: 1300px;
    }
    .referente{
        width: 1300px;
    }
    .info-1{
        width: 1290px;
    }
    .section-final{
        width: 1300px;
    }
    .imgs-final{
        width: 2000px;
        max-width: 1300px;
        
    }
}

/* Mobile L */
@media (min-width:425px) and (max-width:518px) {
    .referente{
        font-size: 20px;
    }
    .info-1{
        font-size: 20px;
    }
}


/* Mobile M */
@media (min-width:375px) and (max-width:518px){
    .referente{
        font-size: 20px;
    }
    .info-1{
        font-size: 20px;
    }
}


/* Mobile S */
@media (min-width:320px) and (max-width:518px){
    .referente{
        font-size: 50px;
    }
    .info-1{
        font-size: 30px;
    }
    a{
        font-size: 20px;
    }
}


