/*BASE*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  font-size: 35px;
  margin-bottom: 20px; }

.h1-nombre {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: unset;
  color: #0e0c0c; }

.h-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 102px;
  background-color: aqua;
  font-weight: bolder;
  font-size: 55px; }

.h2-contacto {
  margin-bottom: 20px;
  color: black;
  padding: 20px; }

.h4-index {
  font-size: 30px; }

.h4-1 {
  font-size: 45px;
  font-weight: bold; }

.h4-2 {
  font-size: 35px; }

.h3-tienda {
  display: flex;
  font-style: oblique;
  background-color: rgba(243, 9, 9, 0.548);
  gap: 10px;
  font-size: 40px;
  padding: 10px; }

.section-tienda {
  display: flex;
  justify-content: space-between;
  width: 95%;
  padding: 20px; }

.div-contactos {
  width: 60%;
  max-width: 1400px;
  margin-left: 34px; }

.img-facebook {
  height: 30px;
  width: 30px;
  margin: 10px 10px 10px; }

.img-gmail {
  height: 35px;
  width: 35px;
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 10px; }

.img-instagram {
  height: 35px;
  width: 35px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 5px; }

.img-twitter {
  height: 30px;
  width: 30px;
  margin: 10px 30px 10px;
  margin-right: 30px; }

.h4-a {
  font-size: 95px; }

.info-1 {
  font-size: 40px;
  background-color: beige;
  width: 90%;
  background-repeat: round;
  display: flex;
  justify-content: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }

/*BOTINES INDEX*/
.adidas-index-1 {
  height: 106px;
  font-size: 43px;
  text-align: center;
  background-color: #4d1b1b;
  font-style: italic;
  color: aliceblue; }

.nike-index-1 {
  height: 111px;
  font-size: 38px;
  text-align: center;
  background-color: #4d1b1b;
  font-style: italic;
  color: aliceblue; }

.puma-index-1 {
  height: 106px;
  font-size: 43px;
  text-align: center;
  background-color: #4d1b1b;
  font-style: italic;
  color: aliceblue; }

/*BOTINES ADIDAS*/
.adidas-1 {
  height: 60px;
  font-size: 47px;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  background-color: #168eff;
  font-style: italic;
  color: #ffffffe8; }

.adidas-2 {
  height: 60px;
  font-size: 47px;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  background-color: #168eff;
  font-style: italic;
  color: #ffffffe8; }

.adidas-3 {
  height: 60px;
  font-size: 47px;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  background-color: #168eff;
  font-style: italic;
  color: #ffffffe8; }

/*BOTINES NIKE*/
.nike-1 {
  height: 60px;
  font-size: 47px;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  background-color: #168eff;
  font-style: italic;
  color: #ffffffe8; }

.nike-2 {
  height: 60px;
  font-size: 47px;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  background-color: #168eff;
  font-style: italic;
  color: #ffffffe8; }

.nike-3 {
  height: 60px;
  font-size: 47px;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  background-color: #168eff;
  font-style: italic;
  color: #ffffffe8; }

/*BOTINES TIENDA*/
.adidas-tienda {
  height: 60px;
  font-size: 35px;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  background-color: #ff1616;
  font-style: italic;
  color: #ffffffe8; }

.puma-tienda {
  height: px;
  font-size: 35px;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  background-color: #ff1616;
  font-style: italic;
  color: #ffffffe8; }

.nike-tienda {
  height: px;
  font-size: 35px;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  background-color: #ff1616;
  font-style: italic;
  color: #ffffffe8; }

.topper-tienda {
  height: px;
  font-size: 35px;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  background-color: #ff1616;
  font-style: italic;
  color: #ffffffe8; }

body {
  margin: 0;
  font-family: Arial, sans-serif; }

/*LAYOUT*/
header {
  position: relative; }

.main {
  font-family: Arial, sans-serif;
  background-color: #1fec6e60;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  height: 100vh; }

.photo-final {
  display: flex;
  justify-content: center; }

.photo-0 {
  width: 100%;
  max-width: 4000px;
  max-height: 500px; }

.section-final {
  display: flex;
  background-color: lightblue;
  justify-content: center;
  align-items: center;
  height: 50px; }

.imgs-final {
  display: flex;
  justify-content: flex-end;
  background-color: lightblue; }

/*COMPONENTS*/
.menu-icon {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 25px;
  background-color: #832424;
  color: #fff; }

.bar {
  width: 40px;
  height: 4px;
  background-color: #fff;
  margin: 2px 5px;
  transition: all 0.3s; }

.nav-menu {
  display: none;
  position: absolute;
  top: 140px;
  left: 0;
  width: 200px;
  border-radius: 5px; }

.nav-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }

.nav-menu li {
  border-bottom: 1px solid #444; }

.nav-menu a {
  display: block;
  padding: 15px;
  color: #fff;
  text-decoration: none; }

.nav-link:hover {
  transform: scale(1.3); }

.navbar-brand:hover {
  transform: scale(1.1); }

/*BOOSTRAP*/
/*Cards*/
.container-fluid {
  height: 100px; }

.container-fluid-1 {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  padding-bottom: 15px;
  margin-bottom: 10px; }

.container-fluid-2 {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  padding-bottom: 15px;
  margin-bottom: 10px; }

.container-fluid-3 {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  padding-bottom: 15px;
  margin-bottom: 10px; }

/*HTML 2*/
.container-fluid-4 {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  padding-bottom: 15px;
  background-color: crimson; }

.container-fluid-5 {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  padding-bottom: 15px;
  background-color: crimson; }

.container-fluid-6 {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  padding-bottom: 15px;
  background-color: crimson; }

/*HTML 3*/
.container-fluid-7 {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  padding-bottom: 15px;
  background-color: papayawhip; }

.container-fluid-8 {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  padding-bottom: 15px;
  background-color: papayawhip; }

.container-fluid-9 {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  padding-bottom: 15px;
  background-color: papayawhip; }

/*HTML 4*/
.container-fluid-10 {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  padding-bottom: 15px;
  background-color: rgba(128, 128, 128, 0.616); }

.container-fluid-11 {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  padding-bottom: 15px;
  background-color: rgba(128, 128, 128, 0.616); }

.container-fluid-12 {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  padding-bottom: 15px;
  background-color: rgba(128, 128, 128, 0.616); }

.container-fluid-13 {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  padding-bottom: 15px;
  background-color: rgba(128, 128, 128, 0.616); }

/*fin*/
.card {
  height: 500px;
  width: 31.25rem;
  margin: 20px;
  border-radius: 6px;
  overflow: hidden;
  background: #ffffffa4;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  transition: all 400ms ease-out;
  cursor: default; }

.card img {
  width: 100%;
  height: 80%;
  background-color: rgba(255, 127, 80, 0.507); }
  .card img:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%); }

.img-change-1 {
  object-fit: contain; }

.img-change-2 {
  object-fit: contain; }

.img-change-3 {
  object-fit: contain; }

.img-change-4 {
  object-fit: contain; }

.img-change-5 {
  object-fit: contain; }

.img-change-6 {
  object-fit: contain; }

.img-change-7 {
  object-fit: contain; }

.img-change-8 {
  object-fit: contain; }

.img-change-9 {
  object-fit: contain; }

/*ADIDAS*/
.container-card-a {
  display: flex;
  max-width: 2000px;
  background-color: rgba(128, 128, 128, 0.616); }

.card-0 {
  width: 100%;
  margin: 20px;
  border-radius: 6px;
  overflow: hidden;
  background-color: #ffffffa4;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  transition: all 400ms ease-out;
  cursor: default; }

.card-0:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%); }

.card-0 img {
  height: 80%;
  width: 100%;
  background: #389df0de; }

.container-card-b {
  display: flex;
  max-width: 2000px;
  background-color: rgba(128, 128, 128, 0.616); }

/*NIKE*/
.card-1 {
  width: 100%;
  margin: 20px;
  border-radius: 6px;
  overflow: hidden;
  background: #ffffffa4;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  transition: all 400ms ease-out;
  cursor: default; }

.card-1 img {
  height: 80%;
  width: 100%;
  background: #f1831da1; }

.container-card-2 {
  width: 100%;
  display: flex;
  margin: auto;
  object-fit: contain;
  background-color: rgba(128, 128, 128, 0.616); }

.card-1:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-2%); }

/*TIENDA*/
.container-card-3 {
  width: 100%;
  display: flex;
  margin: auto;
  object-fit: contain;
  background-color: rgba(128, 128, 128, 0.616); }

.card-2 {
  width: 100%;
  margin: 20px;
  border-radius: 6px;
  overflow: hidden;
  background: #ffffffa4;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  transition: all 400ms ease-out;
  cursor: default; }

.card-2 img {
  height: 70%;
  width: 100%;
  object-fit: contain;
  background-color: #fd122667; }

.card-2:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-2%); }

button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px; }

button:hover {
  background-color: #0056b3; }

.button-index {
  list-style: none;
  display: flex;
  background-color: gray;
  padding: 10px;
  border-radius: 10px;
  justify-content: center;
  width: 20%; }

.button-adidas {
  list-style: none;
  display: flex;
  background-color: gray;
  padding: 10px;
  border-radius: 10px;
  justify-content: center;
  width: 20%; }

.button-nike {
  list-style: none;
  display: flex;
  background-color: gray;
  padding: 10px;
  border-radius: 10px;
  justify-content: center;
  width: 20%; }

.button-tienda {
  list-style: none;
  display: flex;
  background-color: gray;
  padding: 10px;
  border-radius: 10px;
  justify-content: center;
  width: 20%; }

/*CONTACTO*/
.contact-form-container {
  background: white;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 330px; }

.img-0 {
  width: 100%;
  max-width: 4024px; }

.div-1 img {
  position: absolute;
  top: 0;
  right: 32px;
  width: 16px; }

/* final Index.html */
/* inicio Adidas */
.img-adidas {
  display: flex;
  justify-content: center; }

.img-adidas-jugador {
  width: 100%;
  max-width: 1800px;
  max-height: 1000px; }

.change-1 {
  object-fit: contain; }

.change-2 {
  object-fit: contain; }

.change-3 {
  object-fit: contain; }

.change-4 {
  object-fit: contain; }

/* final adidas */
/* inicio Nike */
.img-nike {
  display: flex;
  justify-content: center; }

.img-nike-jugador {
  width: 100%;
  max-height: 1650px; }

.input {
  position: absolute;
  bottom: 0;
  right: 60px;
  width: 14.5rem;
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: white;
  margin-bottom: 5px; }

.input input {
  all: unset;
  border-bottom: 1px solid #050505;
  padding-right: .0625rem;
  box-sizing: border-box; }

.input img {
  position: absolute;
  right: 0.5rem;
  width: 16px; }

.search {
  display: flex;
  align-items: center;
  text-align: center;
  position: absolute;
  margin-left: 1000px;
  margin-top: 15px; }

.search__input {
  font-family: inherit;
  font-size: inherit;
  background-color: #f4f2f2;
  border: none;
  color: #646464;
  padding: 0.7rem 1rem;
  border-radius: 30px;
  width: 12em;
  transition: all ease-in-out .5s;
  margin-right: -2rem; }

.search__input:hover, .search__input:focus {
  box-shadow: 0 0 1em #00000013; }

.search__input:focus {
  outline: none;
  background-color: #f0eeee; }

.search__input::-webkit-input-placeholder {
  font-weight: 100;
  color: #ccc; }

.search__input:focus + .search__button {
  background-color: #f0eeee; }

.search__button {
  border: none;
  background-color: #f4f2f2;
  margin-top: .1em; }

.search__button:hover {
  cursor: pointer; }

.search__icon {
  height: 1.3em;
  width: 1.3em;
  fill: #b4b4b4; }

/*MIXINS*/
/*MEDIA*/
/*HTML INDEX*/
@media (max-width: 1024px) {
  .adidas-index-1 {
    font-size: 30px;
    height: 75px; }
  .nike-index-1 {
    font-size: 30px;
    height: 75px; }
  .puma-index-1 {
    font-size: 30px;
    height: 75px; } }

@media (max-width: 800px) {
  .h-1 {
    font-size: 35px; } }

@media (max-width: 738px) {
  .container-fluid-1 {
    flex-wrap: wrap; }
  .container-fluid-2 {
    flex-wrap: wrap; }
  .container-fluid-3 {
    flex-wrap: wrap; } }

@media (max-width: 425px) {
  .section-final {
    height: 69px; }
  .section-final h2 {
    font-size: 17px; } }

@media (max-width: 350px) {
  .h-1 {
    font-size: 25px; } }

/*HTML ADIDAS*/
@media (max-width: 1150px) {
  .h4-1 {
    font-size: 40px; }
  .adidas-1 {
    font-size: 35px; }
  .adidas-2 {
    font-size: 35px; }
  .adidas-3 {
    font-size: 35px; } }

@media (max-width: 918px) {
  .h4-1 {
    font-size: 35px; }
  .adidas-1 {
    font-size: 30px; }
  .adidas-2 {
    font-size: 30px; }
  .adidas-3 {
    font-size: 30px; } }

@media (max-width: 768px) {
  .card-0 img {
    height: 60%;
    width: 100%; } }

@media (max-width: 600px) {
  .container-fluid-4 {
    flex-wrap: wrap; }
  .container-fluid-5 {
    flex-wrap: wrap; }
  .container-fluid-6 {
    flex-wrap: wrap; }
  .card-0 img {
    height: 70%; } }

/*HTML NIKE*/
@media (max-width: 1015px) {
  .nike-1 {
    font-size: 30px; }
  .nike-2 {
    font-size: 30px; }
  .nike-3 {
    font-size: 30px; }
  .card-1 img {
    height: 70%; } }

@media (max-width: 690px) {
  .container-fluid-7 {
    flex-wrap: wrap; }
  .container-fluid-8 {
    flex-wrap: wrap; }
  .container-fluid-9 {
    flex-wrap: wrap; } }

@media (max-width: 320px) {
  .nike-1 {
    font-size: 25px; }
  .nike-2 {
    font-size: 25px; }
  .nike-3 {
    font-size: 25px; } }

/*HTML TIENDA*/
@media (max-width: 1440px) {
  .h4-a {
    font-size: 35px; } }

@media (max-width: 1175px) {
  .adidas-tienda {
    font-size: 25px;
    height: 70px; }
  .puma-tienda {
    font-size: 25px;
    height: 70px; }
  .nike-tienda {
    font-size: 25px;
    height: 70px; }
  .topper-tienda {
    font-size: 25px;
    height: 70px; }
  .h4-a {
    font-size: 45px;
    font-weight: bold; } }

@media (max-width: 868px) {
  .container-fluid-10 {
    flex-wrap: wrap; }
  .container-fluid-11 {
    flex-wrap: wrap; }
  .container-fluid-12 {
    flex-wrap: wrap; }
  .container-fluid-13 {
    flex-wrap: wrap; }
  .adidas-tienda {
    font-size: 50px;
    height: 90px; }
  .puma-tienda {
    font-size: 50px;
    height: 90px; }
  .nike-tienda {
    font-size: 50px;
    height: 90px; }
  .topper-tienda {
    font-size: 50px;
    height: 90px; } }

@media (max-width: 545px) {
  .h3-tienda {
    font-size: 30px; }
  .adidas-tienda {
    font-size: 34px; }
  .puma-tienda {
    font-size: 34px; }
  .nike-tienda {
    font-size: 34px; }
  .topper-tienda {
    font-size: 34px; } }

@media (max-width: 500px) {
  .h3-tienda {
    font-size: 25px;
    margin: auto; }
  .adidas-tienda {
    font-size: 30px; }
  .puma-tienda {
    font-size: 30px; }
  .nike-tienda {
    font-size: 30px; }
  .topper-tienda {
    font-size: 30px; } }

@media (max-width: 345px) {
  .h3-tienda {
    font-size: 20px; }
  .adidas-tienda {
    height: 40px; }
  .puma-tienda {
    height: 40px; }
  .nike-tienda {
    height: 40px; }
  .topper-tienda {
    height: 40px; } }

/*HTML CONTACTO */
@media (max-width: 1440px) {
  .div-contactos {
    width: 70%; }
  .contact-form-container {
    height: 70%;
    margin-right: 40px; }
  .info-1 {
    margin-bottom: 40px;
    padding: 30px;
    font-size: 60px;
    border-radius: 20px; }
  .img-facebook {
    height: 48px;
    width: 50px; }
  .img-gmail {
    height: 48px;
    width: 50px; }
  .img-instagram {
    height: 48px;
    width: 50px; }
  .img-twitter {
    height: 48px;
    width: 50px; } }

@media (max-width: 977px) {
  .main {
    flex-direction: column; }
  .info-1 {
    margin-top: 20px;
    padding: 5px;
    font-size: 40px;
    border-radius: 20px; }
  .div-contactos {
    width: 50%;
    margin-left: 0; }
  .img-facebook {
    height: 33px;
    width: 30px;
    margin-right: 20px; }
  .img-gmail {
    height: 33px;
    width: 30px;
    margin-right: 20px; }
  .img-instagram {
    height: 33px;
    width: 30px;
    margin-right: 20px; }
  .img-twitter {
    height: 33px;
    width: 30px;
    margin-right: 20px; } }

@media (max-width: 511px) {
  .div-contactos {
    width: 80%; }
  .contact-form-container {
    max-width: 270px;
    margin-right: 40px; } }
