/*HTML INDEX*/
@media (max-width:1024px){
    .adidas-index-1{
        font-size: 30px;
        height: 75px;
    }
    .nike-index-1{
        font-size: 30px;
        height: 75px;
    }
    .puma-index-1{
        font-size: 30px;
        height: 75px;
    }
}

@media (max-width:800px){
    .h-1{
        font-size: 35px;
    }
}
@media (max-width:738px){
.container-fluid-1{
    flex-wrap: wrap;

}
.container-fluid-2{
    flex-wrap: wrap;

}
.container-fluid-3{
    flex-wrap: wrap;

}
}
@media (max-width:425px){
    .section-final{
        height: 69px;
    }
    .section-final h2{
        font-size: 17px;
    }
}

@media (max-width:350px){
    .h-1{
        font-size: 25px;
    }
}



/*HTML ADIDAS*/
@media (max-width:1150px){
    .h4-1{
        font-size: 40px;
    }
    .adidas-1{
        font-size: 35px;
    }
    .adidas-2{
        font-size: 35px;
    }
    .adidas-3{
        font-size: 35px;
    }
}

@media (max-width:918px){
    .h4-1{
        font-size: 35px;
    }
    .adidas-1{
        font-size: 30px;
    }
    .adidas-2{
        font-size: 30px;
    }
    .adidas-3{
        font-size: 30px;
    }
}

@media (max-width:768px){
    .card-0 img{
        height: 60%;
        width: 100%;
    }
}

@media (max-width:600px){
    .container-fluid-4{
        flex-wrap: wrap;
    }
    .container-fluid-5{
    flex-wrap: wrap;
    }
    .container-fluid-6{
    flex-wrap: wrap;
    }
    .card-0 img{
        height: 70%;
    }
}

/*HTML NIKE*/
@media (max-width:1015px){
    .nike-1{
        font-size: 30px;
    }
    .nike-2{
        font-size: 30px;
    }
    .nike-3{
        font-size: 30px;
    }
    .card-1 img{
        height: 70%;
    }
}

@media (max-width:690px){
    .container-fluid-7{
        flex-wrap: wrap;
    }
    .container-fluid-8{
    flex-wrap: wrap;
    }
    .container-fluid-9{
    flex-wrap: wrap;
    }
}

@media (max-width:320px){
    .nike-1{
        font-size: 25px;
    }
    .nike-2{
        font-size: 25px;
    }
    .nike-3{
        font-size: 25px;
    }
}
/*HTML TIENDA*/

@media (max-width:1440px){
    .h4-a{
        font-size: 35px;
    }
}
@media (max-width:1175px){
    .adidas-tienda{
        font-size: 25px;
        height: 70px;
    }
    .puma-tienda{
        font-size: 25px;
        height: 70px;
    }
    .nike-tienda{
        font-size: 25px;
        height: 70px;
    }
    .topper-tienda{
        font-size: 25px;
        height: 70px;
    }
    .h4-a{
        font-size: 45px;
        font-weight: bold;
    }
}

@media (max-width:868px){
    .container-fluid-10{
        flex-wrap: wrap;
    }
    .container-fluid-11{
        flex-wrap: wrap;
    }
    .container-fluid-12{
        flex-wrap: wrap;
    }
    .container-fluid-13{
        flex-wrap: wrap;
    }
    .adidas-tienda{
        font-size: 50px;
        height: 90px;
    }
    .puma-tienda{
        font-size: 50px;
        height: 90px;
    }
    .nike-tienda{
        font-size: 50px;
        height: 90px;
    }
    .topper-tienda{
        font-size: 50px;
        height: 90px;
    }
}

@media (max-width:545px){
    .h3-tienda{
        font-size: 30px;
    }
    .adidas-tienda{
        font-size: 34px;
    }
    .puma-tienda{
        font-size: 34px;
    }
    .nike-tienda{
        font-size: 34px;
    }
    .topper-tienda{
        font-size: 34px;
    }
}
@media (max-width:500px){
    .h3-tienda{
        font-size: 25px;
        margin: auto;
    }
    .adidas-tienda{
        font-size: 30px;
    }
    .puma-tienda{
        font-size: 30px;
    }
    .nike-tienda{
        font-size: 30px;
    }
    .topper-tienda{
        font-size: 30px;
    }
}
@media (max-width:345px){
    .h3-tienda{
        font-size: 20px;
    }
    .adidas-tienda{
        height: 40px;
    }
    .puma-tienda{
        height: 40px;
    }
    .nike-tienda{
        height: 40px;
    }
    .topper-tienda{
        height: 40px;
    }
}

/*HTML CONTACTO */
@media (max-width:1440px){
    .div-contactos{
        width: 70%;
    }
    .contact-form-container{
        height: 70%;
        margin-right: 40px;
    }
    .info-1{
        margin-bottom: 40px;
        padding: 30px;
        font-size: 60px;
        border-radius: 20px;
    }
    .img-facebook{
        height: 48px;
        width: 50px;
    }
    .img-gmail{
        height: 48px;
        width: 50px;
    }
    .img-instagram{
        height: 48px;
        width: 50px;
    }
    .img-twitter{
        height: 48px;
        width: 50px;
        }
}
@media (max-width:977px){
    .main{
        flex-direction: column
    }
    .info-1{
        margin-top: 20px;
        padding: 5px;
        font-size: 40px;
        border-radius: 20px;
    }
    .div-contactos{
        width: 50%;
        margin-left: 0;
    }
    .img-facebook{
        height: 33px;
        width: 30px;
        margin-right: 20px;
    }
    .img-gmail{
        height: 33px;
        width: 30px;
        margin-right: 20px;
    }
    .img-instagram{
        height: 33px;
        width: 30px;
        margin-right: 20px;
    }
    .img-twitter{
        height:33px;
        width: 30px;
        margin-right: 20px;
    }
}
@media (max-width:511px){
    .div-contactos{
        width: 80%;
    }
    .contact-form-container{
        max-width: 270px;
        margin-right: 40px;
    }
}
