/*HTML INDEX*/
@media (max-width:1024px){
    .adidas-index-1{
        font-size: 30px;
        height: 75px;
    }
    .nike-index-1{
        font-size: 30px;
        height: 75px;
    }
    .puma-index-1{
        font-size: 30px;
        height: 75px;
    }
}

@media (max-width:800px){
    .h-1{
        font-size: 35px;
    }
}
@media (max-width:738px){
.container-fluid-1{
    flex-wrap: wrap;

}
.container-fluid-2{
    flex-wrap: wrap;

}
.container-fluid-3{
    flex-wrap: wrap;

}
}

@media (max-width:350px){
    .h-1{
        font-size: 25px;
    }
}



/*HTML ADIDAS*/
@media (max-width:430px){
    .input{
        left: 100px;
        padding: 0;
        width: 12.5rem;
        right: 0;
    }
}

@media (max-width:735px){
    }



/*HTML NIKE*/
@media (max-width:960px){
    .input{
        margin-bottom: 20px;
    }
}
/*HTML TIENDA*/

@media (max-width:1440px){
    .h4-a{
        font-size: 35px;
    }
    .search{
        margin-left: 1100px;
    }
}
@media (max-width:1220px){
    .search{
        margin-left: 800px;
    }
}
@media (max-width:1012px)  and (max-width:980px){
    .search{
        margin-left: 700px;
    }
}
@media (max-width:900px){
    .search{
        margin-left: 450px;
    }
}


/*HTML CONTACTO */
@media (max-width:1440px){
    .div-contactos{
        margin-left: 20px;
    }
}
@media (max-width:977px){
    .div-contactos{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
}
@media (max-width:768px){
    a{
        font-size: 20px;
        width: 175px;
    }
    .info-1{
        width: 80%;
    }
}

@media (max-width:720px){
    .div-contactos{
        width: 100%;
    }
}

@media (max-width:660px){
    .div-contactos{
        flex-wrap: wrap;
    }
    
}

@media (max-width:425px){
    .div-contactos{
        flex-wrap: wrap;
    }
    .info-1{
        font-size: 30px;
    }
}