.section-principal{
    background-color: rgba(17, 17, 15, 0.938);
    width: 100%;
    height: 80px;
    text-transform: uppercase;
    
}




.photo-principal{
    display: flex;
    justify-content: center;
}
