
form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}


.input{
    position: absolute;
    bottom: 0;
    right: 60px;
    width: 12.5rem;
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: white;
    margin-bottom: 5px;
}
.input input{
    all: unset;
    border-bottom: 1px solid rgb(5, 5, 5);
    padding-right: .0625rem;
    box-sizing: border-box;
}

.input img{
    position: absolute;
    right: 0.5rem;
    width: 16px;
}