

.img-0{
    width: 100%;
    max-width: 4024px;
}


.div-1 img{
    position: absolute;
    top: 0;
    right: 32px;
    width: 16px;
}


/* final Index.html */


/* inicio Adidas */

.img-adidas{
    display: flex;
    justify-content: center;
}
.img-adidas-jugador{
    width: 100%;
	max-width: 1800px;
    max-height: 1000px;
}

.change-1{
    object-fit: contain;
}
.change-2{
    object-fit: contain;
}
.change-3{
    object-fit: contain;
}
.change-4{
    object-fit: contain;
}

/* final adidas */

/* inicio Nike */

.img-nike{
    display: flex;
    justify-content: center;
}

.img-nike-jugador{
    width: 100%;
    max-height: 1650px;
}
