
.menu-icon {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 25px;
    background-color: #832424; 
    color: #fff;
}

.bar {
    width: 40px;
    height: 4px;
    background-color: #fff;
    margin: 2px 5px;
    transition: all 0.3s;
}



.nav-menu {
    display: none;
    position: absolute;
    top: 140px;
    left: 0;
    width: 200px;
    border-radius: 5px;
}

.nav-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-menu li {
    border-bottom: 1px solid #444;
}

.nav-menu a {
    display: block;
    padding: 15px;
    color: #fff;
    text-decoration: none;
}

