.h1-nombre{
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: unset;
    color: rgb(14, 12, 12);
}

.h-1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 102px;
    background-color: aqua;
    font-weight: bolder;
    font-size: 55px;
}

.h1-contacto {
    margin-bottom: 20px;
    color: black;
    padding: 20px;
}

.h4-index{
    font-size: 30px;
}
.h4-1{
    font-size: 45px;
    font-weight: bold;
}
.h4-2{
    font-size: 35px;
}

.h3-tienda{
    display: flex;
    font-style: oblique;
    background-color: rgba(243, 9, 9, 0.548);
    gap: 10px;
    font-size: 40px;
    padding: 10px;
}

.section-tienda{
    display: flex;
    justify-content: space-between;
    width: 95%;
    padding: 20px;
}

.div-contactos{
    width: 60%;
    max-width: 1400px;
    margin-left: 34px;
}

.img-facebook{
    height: 30px;
    width: 30px;
    margin: 10px 10px 10px;
}
.img-gmail{
    height: 35px;
    width: 35px;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
}
.img-instagram{
    height: 35px;
    width: 35px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
}
.img-twitter{
    height: 30px;
    width: 30px;
    margin: 10px 30px 10px;
    margin-right: 30px;
}


.h4-a{
    font-size: 95px;
}

.info-1{
    font-size: 40px;
    background-color: beige; width: 90%;
    background-repeat: round;
    display: flex;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*BOTINES INDEX*/
.adidas-index-1{
    height: 106px;
    font-size: 43px;
    text-align: center;
    background-color: #4d1b1b;
    font-style: italic;
    color: aliceblue;
}
.nike-index-1{
    height: 111px;
    font-size: 38px;
    text-align: center;
    background-color: #4d1b1b;
    font-style: italic;
    color: aliceblue;
}
.puma-index-1{
    height: 106px;
    font-size: 43px;
    text-align: center;
    background-color: #4d1b1b;
    font-style: italic;
    color: aliceblue;
}

/*BOTINES ADIDAS*/

.adidas-1{
    height: 60px;
    font-size: 47px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    background-color: #168eff;
    font-style: italic;
    color: #ffffffe8;
}
.adidas-2{
    height: 60px;
    font-size: 47px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    background-color: #168eff;
    font-style: italic;
    color: #ffffffe8;
}
.adidas-3{
    height: 60px;
    font-size: 47px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    background-color: #168eff;
    font-style: italic;
    color: #ffffffe8;
}

/*BOTINES NIKE*/

.nike-1{
    height: 60px;
    font-size: 47px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    background-color: #168eff;
    font-style: italic;
    color: #ffffffe8;
}
.nike-2{
    height: 60px;
    font-size: 47px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    background-color: #168eff;
    font-style: italic;
    color: #ffffffe8;
}
.nike-3{
    height: 60px;
    font-size: 47px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    background-color: #168eff;
    font-style: italic;
    color: #ffffffe8;
}


/*BOTINES TIENDA*/

.adidas-tienda{
    height: 60px;
    font-size: 35px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    background-color: #ff1616;
    font-style: italic;
    color: #ffffffe8;
}
.puma-tienda{
    height: px;
    font-size: 35px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    background-color: #ff1616;
    font-style: italic;
    color: #ffffffe8;
}
.nike-tienda{
    height: px;
    font-size: 35px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    background-color: #ff1616;
    font-style: italic;
    color: #ffffffe8;
}
.topper-tienda{
    height: px;
    font-size: 35px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    background-color: #ff1616;
    font-style: italic;
    color: #ffffffe8;
}
